@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  background: #c0c0c0;
  font-family: Raleway, sans-serif;
  color: #666;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin: 20px auto;
  padding: 40px 50px;
  min-width: 400px;
  max-width: 410px;
  border-radius: 5px;
  background: #fff;
}

.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="email"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;
}

.login input[type="text"]:hover,
.login input[type="password"]:hover,
.login input[type="email"]:hover {
  border-color: #f44336;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.login input[type="submit"] {
  border: none;
  background: #ef5350;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type="submit"]:hover {
  background: #f44336;
}

.login h2 {
  margin: 20px 0 0;
  color: #ef5350;
  font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-top: 20px;
  padding-top: 10px;
}

.links a {
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  color: #666;
}

.links a:visited {
  color: inherit;
}

.links a:hover {
  text-decoration: underline;
}

.login h2,
.login p {
  text-align: center;
}